doctype html 
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='CSS/normalize.css')
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap&family=Megrim&display=swap" rel="stylesheet")
        script(src='https://use.fontawesome.com/6e2ed4decd.js')
        link(rel='stylesheet' href='CSS/main.css')
        title Abdul Aziz Kharraz

    body 
        header
            
            .logo ABDUL AZIZ KHARRAZ
            ul.navs 
                li(data-target='.home') Home
                li(data-target='.about') About
                li(data-target='.services') Services
                li(data-target='.contact') Contact us
                ul.nav-menu-media 
                    a(href="https://m.facebook.com/abdulaziz.khrz" title='facebook' target='_blank')
                        li.nav-facebook
                            i.fa.fa-facebook-f
                    a(href='https://www.instagram.com/abdulazizkhrz/' title='instagram' target='_blank')
                        li.nav-instagram
                            i.fa.fa-instagram
                    a(href='https://twitter.com/aziz_kharraz' title='twitter' target='_blank')
                        li.nav-twitter
                            i.fa.fa-twitter
                    a(href='mailto: abdulaziz.khrz@gmail.com?subject=Hi%20there,%20I%20need%20a%20website!' title='gmail' target='_blank')
                        li.nav-gmail
                            i.fa.fa-envelope
            .nav-menu 
                .nav-spans
                    span
                    span
                    span
        .clearfix
        
        .home
            .container
                .home-dets.clearfix
                    .img-cap
                        p Hello,
                        h1 I'M ABDUL AZIZ
                        p I'm Front-End Web Developer<br>&amp; Designer
                        .hiring-buts 
                            a(href='mailto: abdulaziz.khrz@gmail.com?subject=Hi%20there,%20I%20need%20a%20website!' title='gmail' target='_blank')
                                button.hire-but Hire me
                            button.download-cv Download CV
                    .portfolio-img
                        img(src='images/Edited_main.png')
                    .clearfix
        
                .about.clearfix
                    .bordered-img 
                        img(src='images/edited_bordered.png')
                    .text 
                        h3.about-head About Me
                        span Developer &amp; Designer
                        p.details My name is Abdul Aziz Kharraz. I am a Front-End Web Developer. If you have a pioneering idea that you would like to see in the form of a website for your business, contact me. I promise to finish your project the soonest.<br>Pricing is not important; the most important thing for me is to meet your expectations.
                        .hiring-buts 
                            a(href='mailto: abdulaziz.khrz@gmail.com?subject=Hi%20there,%20I%20need%20a%20website!' title='gmail' target='_blank')
                                button.hire-but Hire me
                            button.download-cv Download CV
                    .clearfix

        .container
            .services.clearfix 
                .serv-desc 
                    h2 Services
                    span Services Available
                    p.details My services include portfolio websites, blog websites, and informational websites.<br>You can select the design and style of your choice.
                .serv-boxes.clearfix
                    .portfolio_box 
                        span 1
                        h3 Portfolio Websites
                        p.details If you are a designer, photographer, freelancer, etc., and you need a portfolio to showcase your work, this is the right place to demonstrate your skills and attract clients. A good example of such profiling is this very webpage you are looking at.
                        //- button Read More
                    .blog_box 
                        span 2
                        h3 Blog Websites
                        p.details If you are a writer or author and need a digital journal to share your ideas with your audience, I can build dynamic websites that can help you better communicate your thoughts and bridge the gap between you and your audience around the world.
                        //- button Read More
                    .informational_box 
                        span 3
                        h3 Informational Websites
                        p.details If you need a website to mainstream information for your visitors, I can develop an informational website that meets your needs and make searching for and using an easy task. Furthermore, you can customize the design to meet your taste.
                        //- button Read More
                .clearfix
        
        .contact 
            p Have a Brilliant Idea in Mind<span>?</span>
            a(href='mailto:abdulaziz.khrz@gmail.com?subject=Hi%20there,%20I%20need%20a%20website!' title='gmail' target='_blank')
                button Contact Me

        .container 
            .social-med 
                h2 Social Media
                p.details If you have a query,<br>contact me on my platforms on social media. I am always ready to support.
                ul.platforms 
                    a(href="https://m.facebook.com/abdulaziz.khrz" title='facebook' target='_blank')
                        li.facebook
                            i.fa.fa-facebook-f
                    a(href='https://www.instagram.com/abdulazizkhrz/' title='instagram' target='_blank')
                        li.instagram
                            i.fa.fa-instagram
                    a(href='https://twitter.com/aziz_kharraz' title='twitter' target='_blank')
                        li.twitter
                            i.fa.fa-twitter

        .quick-acc 
            ul
                a(href="https://m.facebook.com/abdulaziz.khrz" title='facebook' target='_blank')
                    li.facebook
                        i.fa.fa-facebook-f
                a(href='https://www.instagram.com/abdulazizkhrz/' title='instagram' target='_blank')
                    li.instagram
                        i.fa.fa-instagram
                a(href='https://twitter.com/aziz_kharraz' title='twitter' target='_blank')
                    li.twitter
                        i.fa.fa-twitter
                a(href='mailto: abdulaziz.khrz@gmail.com?subject=Hi%20there,%20I%20need%20a%20website!' title='gmail' target='_blank')
                    li.gmail
                        i.fa.fa-envelope

        script(src='js/main.js')
