/* start grid system */

@media (min-width: 576px) { /* small devices => Landscape phones */
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) { /* medium devices => Tablets */
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) { /* large devices => Desktops */
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) { /* Xlarge devices => Large screen */
    .container {
        max-width: 1140px;
    }
}

/* end grid system */




/* *************************************************************** */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* *************************************************************** */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* *************************************************************** */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* *************************************************************** */

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* *************************************************************** */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* *************************************************************** */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}

/* **************************************************************** */

/*
##Device = Very Small Mobiles 
##Screen = 319px to lower resolution mobiles
*/

@media (max-width: 319px) {

    /* CSS */

}

/* **************************************************************** */